@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    font-family: 'Ubuntu', sans-serif; 
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

.btn-top{
    width: 4rem;
    height: 4rem;
    background-color: crimson;
    position: fixed;
       
        right: 2rem;
      line-height: 2.1rem;
      border-radius: 0.5rem;
      text-align: center;
        z-index: 99;
        font-size: 3.5rem;
        color: #fff;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: all 0.5s ease;
}
.btn-top.show{
    opacity: 1;
    bottom: 10rem;
    pointer-events: auto;
   
}


.navbar{
    position: fixed;
    top: 0;
    width: 100%;
   padding: 2.3rem 0.5rem;
   z-index: 111;
   transition: all 0.4s ease;
}
.sticky{
    background-color: crimson;
}
 .navbar.sticky .logo a span {
    color: #fff;
}
.max-width{
    max-width: 130rem;
    margin: auto;
    padding: 0  5rem;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar .logo a{
   font-size: 2.9rem;
   font-weight: 700;
   color: #fff;
  
}

.navbar.sticky ul li a:hover{
    color: #1f1d1d;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.4s ease;
}
.navbar .logo .white{
    color:#fff;
}
.navbar .menu li{
   display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    text-transform: capitalize;
    padding: 0 1.5rem;
    font-size: 1.7rem;
    font-weight: 500;
}
.navbar .menu li a:hover{
    color: crimson;
    /* text-shadow: 3px 4px 2px rgba(0,0,0,0.6); */
}
.home{
background-image: url(img/banner.jpg);
  
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#fff;
 position: relative;
 background-attachment: fixed;
}

.home .home-content{
 position: absolute;
 top: 50%;
 left: 21%;
 transform: translate(-50%,-50%);
 text-shadow: 3px 4px 2px rgba(0,0,0,0.6);

}
.home-content .text-1{
font-size: 2rem;
font-weight:500;
margin-bottom: 0.5rem;
 font-family: 'Poppins', sans-serif;
}
.home-content .text-2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
    
   
}
.home-content .text-3{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.5rem;
   
}
.text-3 .web{
    color: crimson;
}
.text-3 .site{
    color:crimson;
}
.btn{
    margin-top: 1.2rem;
    background-color: crimson;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
}
.btn:hover{
    background-color: transparent;
    border:2px solid crimson;
    cursor: pointer;
}
.menu-bar{
    font-size: 2.9rem;
    color:#fff;
    display: none;
}


.about,.service{
    font-family: 'Poppins', sans-serif;
   padding: 9rem 0;
   margin-bottom: 3rem;
   
}
.about .tittle{
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
   text-transform: capitalize;
    font-size: 2.7rem;
    font-weight: 600;
    margin: 2rem 0;
    position: relative;
  
}
.about .tittle::after{
    content: '';
    background-color: #1f1d1d;
    position: absolute;
    width: 10.5rem;
    height: 0.2rem;
    left: 50%;
    bottom: -0.8rem;
      transform: translate(-50%);

}
.about .tittle::before{
    content: 'Who I am';
    background-color: #fff;
    position: absolute;
    color: crimson;
    padding-top: 2rem;
    padding: 0;
    left: 50%;
    bottom: -1.3rem;
      transform: translate(-50%);
      font-size: 1.2rem;
      z-index: 11;
}

.about-content{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about-content .col-left  img{
width: 30rem;
height: 30rem;
object-fit: cover;
border-radius: 0.5rem;

}
.about-content .col-left {
    flex-basis: 45%;
}
.about-content .right{
    flex-basis: 55%;
    margin-right: 3rem;
    

}
.about-content .right  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    text-transform: capitalize;
    text-align: center;
}
.about-content .right .para::first-letter{
    font-size: 3rem;
    color: crimson;
    vertical-align: middle;
    text-transform: uppercase;
}
.about-content .right p {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
}
.about-content .right .cv{
    text-transform: capitalize;
    margin-top: 1.5rem;
}
.about-content .right .cv:hover{
    color: #1f1d1d;
}
.service{
    margin-top: 5rem;
    background: #111;
    padding: 3rem 0;
    box-sizing: border-box;
    color: #fff;
  
}
.team{
    background: #111;
    color: #fff;
    padding:5rem 0 ;
}
.service .tittle{
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 7rem 0;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.6);
    position: relative;
    
}
.service .tittle::after,.team .tittle::after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 14rem;
    height: 0.2rem;
    left: 50%;
    bottom: -0.8rem;
      transform: translate(-50%);
}
.service .tittle::before,.team .tittle::before{
    content: 'what I provide';
    color: crimson;
    background-color: #111;
    position: absolute;
    left: 50%;
    bottom: -1.5rem;
      transform: translate(-50%);
      font-size: 1.4rem;
      z-index: 12;
}
.service-content{
   
    display: flex;
    /* justify-content: space-between; */
    
}
.service-content .card{
    padding: 2rem 3rem;
    flex-basis: 10%;
     background-color:#222;
     /* box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.6); */
     border-radius: 0.6rem;
     margin:0  2rem;
     transition: 0.4s ease;
    
}
.service-content .card:hover .ser-tittle .fas ,.fab{
    color: #fff;
}
.service-content .card:hover{
    background-color: crimson;
  
}
.service-content .card .box{
    transition: 0.4s ease;
}
.service-content .card:hover .box{
    transform: scale(1.1);
}
.ser-tittle .fas ,.fab{
    color: crimson;
  margin: 1rem 8rem;
    font-size: 2.8rem;
    transition: color 0.6s ease;
   
   
  
}
.ser-tittle h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
   
    text-shadow: 3px 4px 2px rgba(0,0,0,0.6);
}
.box p{
    font-size: 1.2rem;
    font-weight: 500;


}


/* skill sectio styling */
.skill{
    padding: 6rem 0;
}
.skill .tittle,.team .tittle ,.contact .tittle {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin: 5rem 0;
    /* text-shadow: 3px 4px 2px rgba(0,0,0,0.6); */
    position: relative;
}
.skill .tittle::after,.contact .tittle::after{
    content: '';
    background-color:#111;
    position: absolute;
    width: 14rem;
    height: 0.2rem;
    left: 50%;
    bottom: -1rem;
      transform: translate(-50%);
}
.skill .tittle::before,.contact .tittle::before{
    content: 'what I know';
    color: crimson;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -1.5rem;
      transform: translate(-50%);
      font-size: 1.4rem;
      z-index: 12;
}

.left-skill{
    width: 45%;
    padding: 1rem 0;

}
.left-skill p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    margin: 1.8rem 0;

}
.left-skill a{
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: crimson;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    text-transform: capitalize;

}
.left-skill a:hover{
  border: 2px solid crimson;
  color: crimson;
  background-color: transparent;
}
.left-skill h3{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;

}
.skill-content{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.skill-info{
    width: 50%;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
}
.info span{
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
}
 .bar .line{
    width: 100%;
    height: 0.5rem;
    background-color: darkgray;
    border-radius: 0.4rem;
    margin-bottom: 0.9rem;
    position: relative;
}
.bar .html::after{
content: ' ';
   background-color: crimson;
   width: 95%;
   height: 100%;
   position:absolute;
   top: 0;
   left: 0;
   border-radius: 0.5rem;

}
.bar .css::after{
    content: ' ';
       background-color: crimson;
       width: 85%;
       height: 100%;
       position:absolute;
       top: 0;
       left: 0;
       border-radius: 0.5rem;
    
    }
    .bar .java::after{
        content: ' ';
           background-color: crimson;
           width: 75%;
           height: 100%;
           position:absolute;
           top: 0;
           left: 0;
           border-radius: 0.5rem;
        
        }
        .bar .jq::after{
            content: ' ';
               background-color: crimson;
               width: 80%;
               height: 100%;
               position:absolute;
               top: 0;
               left: 0;
               border-radius: 0.5rem;
            
            }
            .bar .node::after{
                content: ' ';
                   background-color: crimson;
                   width: 70%;
                   height: 100%;
                 position:absolute;
                   top: 0;
                   left: 0;
                   border-radius: 0.5rem;
                
                }
/* team section styling */
.team .tittle::before{
    content: 'who with me';
}
.owl-carousel {
    text-align: center;
    position: relative;
}

.img-box img{
    height:9rem;
    width:9rem!important;
border-radius:50% ;
border: 3px solid crimson;
object-fit: cover;
position: absolute;
top: 2rem;
left: 50%;
transform: translate(-50%);
transition: all 0.5s ease;
}
.car-card{
    position: relative;
    height:36rem;
    /* width:23rem!important; */
   background-color: #222;
   /* padding: 2rem 4rem!important; */
   border-radius: 0.5rem;
   text-align: center;
   transition:all 0.5s ;
}
.car-card:hover{
    background-color: crimson;
}
.car-card:hover img{
    border: 3px solid #fff;
}
.team-info{
    padding: 0.4rem 2rem;
    position: absolute;
    top: 34%;
    left: 6%;
}
.team-info .name{
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: capitalize;

}
.team-info p{
    margin-top: 0.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
}
.owl-nav{
    margin-top: 1.5rem;
}
.owl-prev{
    position: absolute;
    left: -4%;
    top: 35%;
}
.owl-next{
    position: absolute;
    right: -4%;
    top: 35%;
}
.owl-prev:hover,.owl-next:hover{
    background-color: transparent!important;
    color: crimson!important;
    border: 3px solid crimson!important;
}
.owl-prev,.owl-next{
    text-align: center;
    background-color: crimson!important;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.6);
}
.owl-prev span ,.owl-next span{
    font-size: 2.9rem;

}

   /* contact styling */
   .contact .tittle::before{
    content: 'get in touch';
  
   }
   .contact .left{
       width: 50%;
   }
   .contact .left .row .icon i{
       font-size: 2.8rem;
       margin-right: 2rem;
       color: crimson;
       
   }
   .contact .left .row{
       margin: 2rem 0;
       display: flex;
    align-items: center;
   }
   .contact .left  .row .user-name{
       font-size: 1.4rem;
       font-weight: 500;
       text-transform: capitalize;
       color: #333;
   }
   .contact .left h3{
       text-transform: capitalize;
       font-size: 1.7rem;
       font-weight: 500;

   }
   .contact .left h4{
       font-size: 1.6rem;
       text-transform: capitalize;
   }
   .contact .left  p{
       font-size: 1.4rem;
       font-weight: 500;
       color: #1f1d1d;
       text-align: justify;
   }
   .contact-content{
       display: flex;
       /* align-items: center; */
       /* justify-content: center; */
       /* background-color: green; */
   }
   .contact-right{
       width: 50%;
       margin-left: 20rem;
      
   }
  
   .contact-right .field-area input{
      margin-bottom: 2rem;
      height: 2.9rem;
      width: 66%;
      padding: 0 3rem;
      text-transform: capitalize;
      border-radius: 0.5rem;
      border: 0;
       background-color: #fff;
       border: 2px solid #ccc;
       box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.6);
   }  
   .contact-right .field-area textarea{
       text-transform: capitalize;
       resize: none;
       font-size: 1.3rem;
       padding: 1rem 1rem;
       width: 30rem;
       height: 9rem;
       border: 2px solid #ccc;
       box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.6);
   } 
   .contact-right .send{
       background-color:crimson;
       color: #fff;
       padding: 1rem 2rem;
       text-transform: capitalize;
       margin-top: 2rem;
       font-weight: 500;
       border-radius: 0.5rem;
   }
   .contact-right .send:hover{
       background-color: #1f1d1d;
       border: 2px solid crimson;
       color: crimson;
   }
   
   
.footer{
   margin-top: 2rem;
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
  text-align: center;
    font-size: 0.3rem;
    font-weight: 500;
    padding: 2rem 3rem;
}
.footer .foot span a{
    color: crimson;
}



 

/* media qurires */
@media(max-width:1300px){
    .footer{
  
   
        font-size: 1.7rem;
    
    }
 .max-width{
     margin-left: 0;
 }
}
@media(min-width:1110px){
    .footer{
  
   
        font-size: 1.7rem;
    
    }
}

@media(max-width:1110px){
    /* .footer{
   
         font-size: 1.7rem;
    
     }
     */
    .service-content .card{
       
        flex-basis: calc(50% - 6rem);
       
        
    }
    .ser-tittle h3{
        margin-bottom: 1.3rem;
    }
    .ser-tittle .fas ,.fab{
        margin-left: 8rem;
        margin-top: 2rem;
       
    }
    .service-content .card{
        padding: 2rem 2rem;
        margin-right: 3rem;
       
    }
    .about-content .col-left  img{
width: 30rem;
height: 30rem
        }
        .about-content .right p {
            font-size: 1.1rem;
            color: #1f1d1d;
           
        }
        .about .tittle{
            margin: 4rem 0;
           
          
        }
        .about-content .col-left {
            flex-basis: 100%;
        }
        .about-content .right {
            flex-basis: 100%;
        }
        .team-info p{
       
            font-size: 1.2rem;
           
        }
        .team-info .name{
            font-size: 1.7rem;
           
        
        }
}


@media(max-width:947px){
    .contact-right{
   /* text-align: center; */
        margin-left: 0;
       
    }
    .team-info p{
       
        font-size: 1.2rem;
       
    }
    .team-info .name{
        font-size: 1.7rem;
       
    
    }
    .skill-content{
      flex-direction: column;
    }
    .left-skill{
        width: 100%;
    }
    .skill-info{
        margin-top: 2rem;
        width: 100%;
    }
    .service-content{
        align-items: center;
    }
    .service-content .card{
        /* width: 30rem; */
        flex-basis: 50%;
        margin-top: 6rem;
        padding: 4rem 6rem;
        
    }
   
   
    .ser-tittle .fas ,.fab{
    margin-left: 20rem;
    margin-bottom: 3rem;
    font-size: 6rem;
       
    }
    .service-content{
        flex-direction: column;
    }
    
    .about-content{
        flex-direction: column;
    }
    .about-content .right  h2{
       
        font-size: 2.4rem;
      
        margin: 1.3rem 0;
      
    }
    .about-content .col-left  img{
        width: 45rem;
        height: 45rem
                }
    
    .about .tittle{
        margin: 5rem 0;
       
      
    }
    .max-width{
        padding: 0  4rem;
    }
    .menu-bar{
        display: block;
        z-index:555;
    }
    .menu-bar i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        background-color: #111;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        text-align: center;
        padding-top: 8rem;
        transition: 0.5s;
    }
    .navbar .menu.active{
        left: 0%;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a{
    display: inline-block;
    margin: 1.8rem 0;
    font-size:2rem ;
   
    }
    .home .home-content{
       
        left: 30.5%;
       
       }
       .contact-content{
        flex-direction: column;
       }
       .contact .left{
        width: 100%;
    }
    .contact .right{
        width: 100%;
    }
    .contact-right .field-area input{
      
        width: 100%;
       
     } 
}
@media(max-width:690px){
    .contact-right .field-area input{
      
        width: 100%;
       
     } 
    .home .home-content{
       
        left: 38.5%;
       
       } 
       .home-content .text-3{
        font-size: 2.3rem;
        width: 100%;
    }
    .owl-prev,.owl-next{
        display: none;
    }
}


@media(max-width:560px){
    .btn-top{
        width: 3rem;
        height: 3rem;
       
    
    }
    .btn-top i{
        font-size: 2.5rem;
       
    }
    .contact-right .field-area input{
      
        width: 100%;
       
     } 
     
     .contact-right .field-area textarea{
       
        width: 24rem;
        height: 9rem;
     }
    .service-content .card{
        /* width: 30rem; */
        flex-basis: 100%;
        margin-top: 6rem;
        padding: 2rem 3rem;
        
    }

    .about-content .right  h2{
       
        font-size: 2rem;
      
       
      
    } 
    .about-content{
        flex-direction: column;
    }
    .about-content .col-left  img{
        width: 30rem;
        height: 30rem
                }
    .home .home-content{
       
        left: 38.5%;
       
       }
       .home-content .text-1{
        font-size: 1.4em;
      
        }
        .home-content .text-2{
            font-size: 3rem;
        }
        .home-content .text-3{
            font-size: 2.4rem;
            width: 100%;
        }
        .owl-prev,.owl-next{
            display: none;
        }
}
@media(max-width:460px){
    .team-info p{
       
        font-size: 1.3rem;
       
    }
    .team-info .name{
        font-size: 2rem;
       
    
    }
    .ser-tittle .fas ,.fab{
        margin-left: 8rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
           
        }
    .about-content .col-left  img{
        width: 28rem;
        height: 28rem
    }
    .about-content .right  h2{
       
        font-size: 1.3rem;
        font-weight: 700;
      
       
      
    }
    .home-content .text-3{
        font-size: 1.7rem;
        width: 100%;
    }
    .about-content .right p {
        font-size: 1.1rem;
        color: #1f1d1d;
       
    }
    .owl-prev,.owl-next{
        display: none;
    }
    .contact-content{
     flex-direction: column;
    }
    .contact .left{
        width: 100%;
    }
    .contact .left .row .icon i{
        font-size: 1.5rem;
   
        
    }
    .contact .left .row{
        margin: 2rem 0;
        display: flex;
     align-items: center;
    }
    .contact .left  .row .user-name{
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
        color: #333;
    }
    .contact .left h3{
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 400;
 
    }
    .contact .left  p{
        font-size: 1.3rem;
        font-weight: 500;
        color: #1f1d1d;
        text-align: justify;
    }
   
    .contact-right{
        width: 100%;
      
       
    }
    .contact-right h5{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.3rem;
    }
    .contact-right .field-area input{
      
       width: 80%;
      
    }  
    .about .tittle,  .service .tittle,  .skill .tittle,  .contact .tittle,  .team .tittle{
        font-size: 1.7rem;
    }
    .about .tittle::before,  .service .tittle::before,  .skill .tittle::before,  .contact .tittle::before,  .team .tittle::before{
        font-size: 1.2rem;
    }
    .navbar .logo a{
        font-size: 2.3rem;
       
       
     }
     .menu-bar{
         font-size: 2rem;
     }
     .ser-tittle h3{
         font-size: 1.6rem;
     }
     .box p{
         font-size: 1.2rem;
     }
     
    .team-info .name{
        font-size: 1.5rem;
    }
    .left-skill h3{
        font-size: 1.5rem;
    }
    .left-skill p{
        font-size: 1.3rem;
    }

.info span{
    font-size: 1.5rem;
}
.btn{
    font-size: 1.5rem;
}
.contact .left p {
    font-size: 1.3rem;
    font-weight: 400;
   
}
.contact .left h4{
    font-size: 1.4rem;
    text-transform: capitalize;
}
.contact-right{
   
    margin-left: 0;
   
}
.footer{
  
   
    font-size: 1.3rem;

}
.foot{
    margin-left: 0;
    padding:0.7rem 3rem;
    display: inline-block;
    width: 100%;
}
.contact-right .field-area textarea {
    width: 29rem;
    height: 9rem;
}
.about {
  
    padding: 1rem 0;
    
}
.service .tittle{
    margin: 1rem 0;
}
.skill{
    padding: 1rem 0;
}

}

